# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.python]
indent_style = space
tab_width = 4
max_line_length = 120

[CODEOWNERS]
indent_style = tab
